<table ng-show="data.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Cardno
      </th>
      <th>
        Type
      </th>
      <th>
        Price
      </th>
      <th>
        Date Sold
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in data">
      <td>
        <input type="checkbox" ng-model="ticket.selected"/>
      </td>
     <td>
       {{ticket.cardno}}
     </td>
     <td>
       {{ticket.type}}
     </td>
     <td>
       {{ticket.price | currency:"USD$" }}
     </td>
     <td>
       {{ticket.datesold | date:'dd/MM/yyyy HH:mm' }}
     </td>
   </tr>
   </tbody>
  </table>
