<input class="form-control" type="text" ng-model="searchIt" placeholder="Which ticket are you looking for?"/>
<table class="table table-striped" ng-show="data.length > 0">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        <a href="" ng-click="orderSearch('cardno')">Cardno</a>
      </th>
      <th>
        <a href="" ng-click="orderSearch('type')">Type</a>
      </th>
      <th>
        <a href="" ng-click="orderSearch('price')">Price</a>
      </th>
      <th>
        <a href=""ng-click="orderSearch('datesold')">Date Sold</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in data | filter:searchIt | orderBy:orderCriteria:orderDirection" >
      <td>
        <input type="checkbox" ng-model="ticket.selected"/>
      </td>
     <td>
       {{ticket.cardno}}
     </td>
     <td>
       {{ticket.type}}
     </td>
     <td>
       {{ticket.price | currency:"USD$" }}
     </td>
     <td>
       {{ticket.datesold | date:'dd/MM/yyyy HH:mm' }}
     </td>
   </tr>
   </tbody>
  </table>
